<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"] - Roger Standard</title>
    <link rel="stylesheet" type="text/css" href="~/dist/styles.css" />
</head>
<body>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2017 - Roger Standard</p>
                </div>
                <div class="col-md-6 text-right">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
            </div>
        </footer>
    </div>


    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery-validate.js"></script>
    <script src="~/js/jquery-validate-unobtrusive.js"></script>
    <script src="~/js/all.js" asp-append-version="true"></script>
    <script src="~/dist/bundle.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
