@model Standard.ViewModels.ChangelogViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Changelog</h1>

<div>
    @foreach (var release in Model.Releases)
    {
        @Html.Partial("_Release", release)
    }
</div>

