@inject IHtmlLocalizer<SharedResources> Localizer

@model ActuallyStandard.ViewModels.ReleaseCreateViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<form asp-controller="Changelog" asp-action="Create" method="post">
    <p>
        <label asp-for="ReleaseVersion">@Localizer[SharedResources.Release.ReleaseVersion]</label>
        <input asp-for="ReleaseVersion" />
    </p>
    <p>
        <label asp-for="ReleaseDate">@Localizer[SharedResources.Release.ReleaseDate]</label>
        <input asp-for="ReleaseDate" />
    </p>
</form>
