@model ActuallyStandard.ViewModels.ChangelogViewModel
@{
    ViewData["Title"] = Model.PageTitle;
}

<<<<<<< HEAD
<div id="app"></div>
=======
<h1>Changelog</h1>

<div>
    @foreach (var release in Model.Releases)
    {
        @Html.Partial("_Release", release)
    }
</div>

>>>>>>> 5034ac21a2f36e468b723988b71d29ba0192c45a
