@model ActuallyStandard.ViewModels.ChangelogViewModel
@{
    ViewData["Title"] = Model.PageTitle;
}

<h1>Changelog</h1>

<div id="app">
    @foreach (var release in Model.Releases)
    {
        @Html.Partial("_Release", release)
    }
</div>

